:host /deep/.bubble-maps {
  width: 100%;
  height: calc(100vh - 283px);
  font-size	: 11px;
}

.box-shadow-border {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.12);
      width: calc(100% + 44px);
      margin-left: -22px;
    }