<ba-card cardTitle="Bienvenido al sistema SI-SAGA" baCardClass="with-scroll">
	<form class="form-horizontal">
		<div class="container-fluid">
			<div class="form-group row">
				<h4>Ingrese los datos para crear un subproyecto </h4>
			</div>
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="shortnamegnp" class="control-label col-md-12">Shortname Projecto Raíz:</label>
					<div class="col-md-12">	
						<input class="form-control" id="shortnamegnp" name="shortnamegnp" type="text" placeholder="Shortname Proyecto Raíz" 
						[(ngModel)]="subProject.shortnamegnp"
						 #shortnamegnp="ngModel" required maxlength="10" minlength="3">
						<div *ngIf="shortnamegnp.errors">
							<div *ngIf="shortnamegnp.touched && !shortnamegnp.valid" class="alert alert-danger">
								<strong>Warning!</strong>Campo requerido.
						</div>
						<div *ngIf="!shortnamegnp.validator.minlength && shortnamegnp.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
						</div>
						</div>
						</div>
				</div>
				<div class="form-group col-md-6">
					<label for="shortnamespr" class="control-label col-md-12">Nombre Corto:</label>
					<div class="col-md-12">
						<input class="form-control" id="shortnamespr" name="shortnamespr" type="text" placeholder="Nombre Corto" 
						[(ngModel)]="subProject.shortnamespr"
						 #shortnamespr="ngModel" required maxlength="10" minlength="3">
						<div *ngIf="shortnamespr.errors">
							<div *ngIf="shortnamespr.touched && !shortnamespr.valid" class="alert alert-danger">
								<strong>Warning!</strong>Campo requerido.
							</div>
							<div *ngIf="!shortnamespr.validator.minlength && shortnamespr.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="name" class="control-label col-md-12">Nombre:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="name" name="name" placeholder="Nombre" 
						[(ngModel)]="subProject.name" #name="ngModel"
						 required maxlength="50" minlength="3">
						<div *ngIf="name.errors">
							<div *ngIf="name.touched && !name.valid" class="alert alert-danger">
								<strong>Warning!</strong>Campo requerido.
							</div>
							<div *ngIf="!name.validator.minlength && name.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
							</div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="description" class="control-label col-md-12">Descripción:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="description" name="description" placeholder="Descripción" [(ngModel)]="subProject.description"
						 #description="ngModel" required maxlength="100" minlength="3">
						<div *ngIf="description.errors">
							<div *ngIf="description.touched && !description.valid" class="alert alert-danger">
								<strong>Warning!</strong>Campo requerido.
							</div>
							<div *ngIf="!description.validator.minlength && description.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="form-group col-md-6 ">
					<label for="idprjlabel" class="control-label  col-md-12">Etiqueta:</label>
					<div class="col-md-12">
						<div class="form-group">
							<select class="form-control" id="idprjlabel" name="idprjlabel" [(ngModel)]="label.idprjlabel" #idprjlabel="ngModel" required>										
								<option *ngFor = "let label of labels" [value] = "label.name">{{label.name}}</option>										 
							</select>
							<div *ngIf="idprjlabel.errors">
								<div *ngIf="idprjlabel.touched && !idprjlabel.valid" class="alert alert-danger">
									<strong>Warning!</strong>Campo requerido.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="author" class="control-label col-md-12">Autor:</label>
					<div class="col-md-12">
						<div class="form-group">
							<select class="form-control" id="author" name="author" [(ngModel)]="author.idnauthor" #idnauthor="ngModel" required>
								  <option *ngFor = "let author of authors" [value] = "author.name">{{author.name}}</option>	 
							</select>
							<div *ngIf="idnauthor.errors">
								<div *ngIf="idnauthor.touched && !idnauthor.valid" class="alert alert-danger">
									<strong>Warning!</strong>Campo requerido.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="creationdate" class="control-label col-md-12">Fecha de Creación:</label>
					<div class="col-md-12">
						<div class="input-group date">
							<my-date-picker name="creationdate" #creationdate="ngModel" [options]="myDatePickerOptions" [(ngModel)]="subProject.creationdate"
							 required></my-date-picker>
						</div>
						<div *ngIf="creationdate.errors">
							<div *ngIf="creationdate.touched && !creationdate.valid" class="alert alert-danger">
								<strong>Warning!</strong>Campo requerido.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<div *ngIf="shortnamespr.errors || shortnamegnp.errors || name.errors || description.errors || creationdate.errors || idnauthor.errors || idprjlabel.errors">
						<button class="btn btn-primary" name="buttonSave" (click)="goDocument()" disabled>Documento</button>
						<button class="btn btn-success" (click)="saveSubProject()" disabled="">Guardar</button>
						<button class="btn btn-info" (click)="resetForm()">Cancelar</button>
					</div>

					<div *ngIf="!shortnamespr.errors && !shortnamegnp.errors && !name.errors && !description.errors && !creationdate.errors && !idnauthor.errors && !idprjlabel.errors">
						<button class="btn btn-primary" name="buttonSave" (click)="goDocument()">Documento</button>
						<button class="btn btn-success" (click)="saveSubProject()">Guardar</button>
						<button class="btn btn-info" (click)="resetForm()">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</ba-card>